<!doctype html>
<html data-ng-app="YouTubeData">
  <head>
    
    <title>YouTubeSearch</title>
    <meta charset="utf-8"> 
    <meta name="author" content="Thisura">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400' rel='stylesheet' type='text/css'>
    <link href="index.css" rel="stylesheet">
    <link href="dist/mfb.css" rel="stylesheet">
    <script src="dist/lib/modernizr.touch.js"></script>
   

  </head>
  <body data-ng-controller="VideosController">
    <header>
      <h1><strong>YouTubeData</strong></h1>
      <form id="search" data-ng-submit="search()">
        <input id="query" name="q" type="text" placeholder="Search for a YouTube video" data-ng-model="query">
        <input id="submit" type="image" src="search.png" alt="Search">
      </form>
     <!--  <nav>
        <a id="play">{{ youtube.state }}</a>
        <a id="pause">Pause</a>
      </nav> -->
    </header>
    <div id="results">
      <div class="video" data-ng-repeat="video in results" data-ng-click="queue(video.id, video.title)">
        <img class="video-image" data-ng-src="{{ video.thumbnail }}">
        <label class="tagg" title="Description:">Title:</label><p class="video-title">{{ video.title }}</p>
        <label class="tagg" title="Description:">Author:</label><p class="video-author">{{ video.author }}</p>
        <label class="tagg" title="Description:">Description:</label><p class="video-description">{{ video.description }}</p>
        <label class="tagg" title="Description:">Uploaded Date and Time:</label><p class="video-description">{{ video.datetimee}}</p> 
        <label class="tagg" title="Description:">Broadcast Content:</label><p class="video-description">{{ video.lbc}}</p>
        <label class="tagg" title="Description:">Channel ID:</label><p class="video-description">{{ video.ciid}}</p>
        <label class="tagg" title="Description:">Kind:</label><p class="video-description">{{ video.kidd}}</p> 
        <label class="tagg" title="Description:">Video ID:</label><p class="video-description">{{ video.id}}</p> 
       <!--  <label class="tagg" title="Description:">Playlist ID:</label><p class="video-description">{{ video.pliid}}</p>  -->
      


      </div>
    </div>
       <!--<div id="player">
      <div id="placeholder"></div>
    </div>
  <div id="playlist">
      <p id="current">{{ youtube.videoTitle }}</p>
      <ol id="upcoming" data-ng-show="playlist">
        <li data-ng-repeat="video in upcoming">
          <p class="item-delete" data-ng-click="delete('upcoming', video.id)">delete</p>
          <p class="item-title" data-ng-click="launch(video.id, video.title)">{{video.title}}</p>
        </li>
      </ol>
      <ol id="history" data-ng-hide="playlist">
        <li data-ng-repeat="video in history">
          <p class="item-delete" data-ng-click="delete('history', video.id)">delete</p>
          <p class="item-title" data-ng-click="queue(video.id, video.title)">{{video.title}}</p>
        </li>
      </ol>
      <p id="tabs">
        <a ng-class="{on:playlist}" data-ng-click="tabulate(true)">Upcoming</a>
        <a ng-class="{on:!playlist}" data-ng-click="tabulate(false)">History</a>
      </p>
    </div> -->
   <!-- <footer>
   Concept & Design: <a href="http://jgthms.com">Thisura Indula</a>
     
    </footer>  -->
    <script src="angular.min.js"></script>
    <script src="angular-local-storage.js"></script>
    <script src="app.js"></script>

<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
      <li class="mfb-component__wrap">
        <a href="#" class="mfb-component__button--main">
          <i class="mfb-component__main-icon--resting ion-plus-round"></i>
          <i class="mfb-component__main-icon--active ion-close-round"></i>
        </a>
        <ul class="mfb-component__list">
          <li>
            <a href="https://bitbucket.org/" data-mfb-label="View me on bitbucket" class="mfb-component__button--child">
              <i class="mfb-component__child-icon ion-social-github"></i>
            </a>
          </li>
          <li>
            <a href="https://bitbucket.org/" data-mfb-label="Follow me on bitbucket" class="mfb-component__button--child">
              <i class="mfb-component__child-icon ion-social-octocat"></i>
            </a>
          </li>

          <li>
            <a href="https://bitbucket.org/"
               data-mfb-label="Share with me on bitbucket" class="mfb-component__button--child">
              <i class="mfb-component__child-icon ion-social-twitter"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>

   
  <!-- build:js mfb.js -->
  <script src="dist/mfb.js"></script>
  <!-- endbuild -->
  <script>

    var panel = document.getElementById('panel'),
        menu = document.getElementById('menu'),
        showcode = document.getElementById('showcode'),
        selectFx = document.getElementById('selections-fx'),
        selectPos = document.getElementById('selections-pos'),
        // demo defaults
        effect = 'mfb-zoomin',
        pos = 'mfb-component--br';

    showcode.addEventListener('click', _toggleCode);
    selectFx.addEventListener('change', switchEffect);
    selectPos.addEventListener('change', switchPos);

    function _toggleCode() {
      panel.classList.toggle('viewCode');
    }

    function switchEffect(e){
      effect = this.options[this.selectedIndex].value;
      renderMenu();
    }

    function switchPos(e){
      pos = this.options[this.selectedIndex].value;
      renderMenu();
    }

    function renderMenu() {
      menu.style.display = 'none';
      // ?:-)
      setTimeout(function() {
        menu.style.display = 'block';
        menu.className = pos + effect;
      },1);
    }

  </script>


  </body>
</html>
